__pycache__/
*.pyc
data/
!data/.gitkeep
.idea/
certs/
.venv/
open_elevation.egg-info/

.env

migrations/node_modules/*
migrations/output_backup/*
migrations/check/*
migrations/input/*
!migrations/input/.gitkeep
migrations/output/*
!migrations/output/.gitkeep
